/* 
Name: Charles Fisher
Date: 23 January 2022
Assignment name: Build a Webpage Exercise, Part 3
Purpose: Demonstrate a basic understanding of HTML with CSS elements
Sources: Duckett, J. (2014). Html & CSS : design and build websites. John Wiley And Sons.
‌         W3Schools. (2019). HTML Tutorial. W3schools.com. https://www.w3schools.com/html/default.asp
         W3Schools. (2019). CSS Tutorial.  W3schools.com. https://www.w3schools.com/css/
‌*/
h1{
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

h3{
    font-weight: 500;
}

/*left floating div settings*/
#favorite_movies{
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    width: 45%;
    float: left;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
} 

/*Right floating div settings*/
#learned_things{
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    width: 45%;
    float: right;
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
}

/*List Weight*/
ol, ul{
    font-weight: 300;
}

/*change unordered list style*/
ul{
    list-style: upper-roman;
}

/*bottom div settings*/
#footer{
    width: 100%;
    margin-top: 60%;
    float: right;
    margin-bottom: 20px;
}

#back_to_top{
    float: right;
}

a{
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

